import FormData from 'form-data';
import got, { Method } from 'got';
import urljoin from 'url-join';
import { RequestObject } from '../nodegen/interfaces/RequestObject';
import config from '@/config';

export default class HttpService {
  /**
   * Injects the values into a path, eg
   * '/user/:username', {username: 'bob'}
   * would result in
   * '/user/bob'
   */
  static injectParamsToPath (params: any = {}, path: string) {
    Object.keys(params).forEach((param) => {
      path = path.replace(':' + param, params[param]);
    });
    return path;
  }

  /**
   * Make the http request
   */
  async sendRequest (requestObject: RequestObject): Promise<any> {
    requestObject.headers = Object.assign(requestObject.headers || {}, {
      Connection: 'keep-alive',
      'api-key': config.YOURSERVER.apiKey, // CHANGE THIS!!
    });
    const URL = urljoin(
      config.YOURSERVER.baseUrl,  // CHANGE THIS!!
      HttpService.injectParamsToPath(
        requestObject.params,
        requestObject.path,
      ),
    );

    let fd = new FormData();
    if (requestObject.formData) {
      for (let key in requestObject.formData) {
        fd.append(key, requestObject.formData[key]);
      }
      requestObject.headers['Content-Type'] = 'multipart/form-data';
    }

    const qs = (new URLSearchParams(requestObject.qs || {})).toString();

    const { body } = await got({
      body: requestObject.formData ? fd : requestObject.body,
      headers: requestObject.headers,
      method: requestObject.method as Method,
      searchParams: qs && qs.length ? '?' + qs : '',
      responseType: 'json',
      url: URL,
    });
    return body;
  }
}
